*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

*:focus,
*:active {
    outline: none;
}

body {
    background: url(images/background.webp) no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Arial sans-serif;
}

button {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.content {
    width: 900px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.hidden {
    visibility: hidden;
}

.input-wrapper {
    height: 100%;
    position: relative;
}

.nickname-input  {
    background: none;
    border: none;
    color: #fff;
    width: 80%;
    font-size: 17px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    box-sizing: border-box;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    outline: 3px solid #658EC6;
    outline-offset: -1px;
    background: #08102c;
    padding: 50px 60px 20px 60px;
}

.menu-name {
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-name-img {
    width: 100%;
}

.menu-name-text {
    width: 90%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-element {
    margin-bottom: 20px;
}

.menu-content:last-child {
    margin-bottom: 0;
}

.leaderboard {
    margin-top: auto;
}

.leaderboard-box {
    padding-right: 20px;
    padding-left: 20px;;
    height: 60%;
    width: 50%;
}

.leaderboard-list-container {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    text-align: left;
    font-size: 14px;
}

.leaderboard-list-container {
    scrollbar-width: thin;
    scrollbar-color: #070556 #658EC6;
}

/* Chrome, Edge and Safari */
.leaderboard-list-container::-webkit-scrollbar {
    width: 10px;
}
.leaderboard-list-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #070556;
}

.leaderboard-list-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #658EC6;
}

.leaderboard-list {
    width: 100%;
    font-size: 18px;
}

.leaderboard-list thead {
    height: 30px;
    font-size: 20px;
    vertical-align: top;
}

.leaderboard-list td,
.leaderboard-list th {
    padding: 5px;
}

.leaderboard-list td:first-child {
    text-align: right;
    color: #e1a02e;
    font-size: 20px;
    font-weight: bold;
}

.back-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.horizontal-container {
    height: 300px;
    position: absolute;
    top: 15%;
}

.lifelines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    left: 10%;
    display: none;
}

.lifeline {
    position: relative;
    width: 100px;
    height: 100px;
    border: 4px solid #0e4ba8;
    border-radius: 50%;
    background: #070556;
    box-shadow: inset 0 0 10px 1px #000;
}

.lifeline * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.used {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.lifeline:hover {
    background: #e3af49;
}

.phone-a-friend {
    height: 85%;
}

.l-50-50 {
    font-size: 30px;
}

.timer {
    left: 50%;
    width: 300px;
    transform: translate(-50%);
    border: solid #ffffff 2px;
    border-radius: 50%;
    background-color: #040c15;
}

.logo {
    height: 95%;
}

.timer span {
    color: #ffffff;
    font-size: 100px;
    text-shadow: 0 0 5px #000000;
    position: absolute;
}

.circle-outer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: #ad6e04;
    border-radius: 50%;
}

.circle-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: #040c15;
    border-radius: 50%;
}


.question-answer-container {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin-bottom: 2%;
}

.quest-ans-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.question-container {
    position: relative;
    margin-bottom: 12px;
}

.question-img {
    width: 100%;
    vertical-align: middle;
}

.question-text {
    position: absolute;
    z-index: 1;
    width: 90%;
    font-size: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: center;
}

.answers :last-child {
    margin-bottom: 0;
}

.answer-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-btn-img {
    width: 100%;
    vertical-align: middle;
}

.main-btn:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 95%;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
}

.answer-text {
    font-size: 15px;
    position: absolute;
    width: 85%;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.answer-number {
    margin-right: 5px;
    font-size: 18px;
    color: #e1a02e;
}

.answer {
    text-align: left;
}

.answer-row:after,
.question-container:after {
    content: "";
    width: calc(100% * 100 / 80);
    height: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle,
    rgba(101,142,198,1) 83%, rgba(118,122,140,1) 96%,
    rgba(118,122,140,0.6449930313922444) 100%);
    z-index: -1;
}

.box-end-game {
    width: 400px;
    height: 320px;
    top: 35%;
    font-size: 30px;
}

.box-end-game span {

}

.block-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.new-game-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    z-index: 2;
}

.new-game-btn span {
    width: 90%;
}

.question-container:after {
    height: 5px;
}

.white-color {
    color: #fff;
}